{% extends "base.html" %}
{% load static %}

{% block content %}
    <div id ="banner">

    </div>

     <div id="body">

        <h1>Welcome!</h1>
        <p><a href="">Write a New Review</a></p>
        <p><a href="/newartist">Add a New Artist</a></p>
        <p><a href="/newalbum">Add a New Album</a></p>
        <p><a href="/showartists">Show all Artists</a></p>
        <p><a href="/showalbums">Show All Albums</a></p>
        <p><a href="/index">Logout</a></p>

     <h1>Recently Reviewed Albums:</h1>

     </div>

{% endblock %}