{% extends "base.html" %}
{% load static %}
{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'music_spotlight_app/style/home.css' %}">
{% endblock %}
{% block content %}
    <div id ="banner">

    </div>
    <div id="registerbody">

        <h1>Register</h1>
        <form action="" method="post">
            {% csrf_token %}
            {% for field in form  %}
                    {{ field.label_tag }} {{ field }}
                    <br><br>
                {% endfor %}
            <label>I agree to the terms and conditions</label><input type="checkbox"><br><br>
            <input type="submit" value="Submit">
        </form>

        <p>Already got an account? <a href="/index">Sign in here</a></p>
    </div>

{% endblock %}