#left{
    position:absolute;
    width:60%;
    background-color: white;
    height:400px;

}
#right{
    position:absolute;
    width:40%;
    left:60%;
    background-color: white;
    height:400px;
}